* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}
.img-fluid {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#quote {
    position: absolute;
    left: 10px;
    bottom: 80px;
    font-size: 3rem;
    color: #fbf7f0;
}

.author-class {
    position: absolute;
    left: 10px;
    bottom: 40px;
    font-size: 1rem;
    color: #eeeeee;
}